.boxtopleft{
    height: 400px;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
.boxtopcenter{
    height: 400px;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
.boxtopright{
    height: 400px;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}